<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
   <header>
    <img src="/images/logo-mercado-liebre.svg" alt="logo">
    <p> lugar para barra de busqueda - luego reemplazar </p>
    <p> Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="tiendasOficiales.html">Tiendas Oficiales</a></li>
            <li><a href="vender.html">Vender</a></li>
            <li><a href="ayuda.html">Ayuda</a></li>
            <br>
            <li><a href="registro.html">Creá tu cuenta</a></li>
            <li><a href="iniciarSesion.html">Ingresá</a></li>
            <li><a href="carroCompras.html">Mis compras</a></li>
        </ul>
    </nav>
   </header>

   <main>
    <h3>Productos</h3>
    <ul>
        <li><b>Basado en tu última visita</b></li>
        <article>  
        <img src="images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>
        </article>
        <br>
        
        <img src="images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% OFF</p>
        <p>MacBook Pro 2019</p>
        <br>
        <img src="images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% OFF</p>
        <p>Samsung Galaxy S10</p>
        <br>
        <img src="images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% OFF</p>
        <p>SmartTv Samsung 43"</p>
        <br>
        <li><b>Ofertas</b></li>
        <img src="images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>
        <br>
        <img src="images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% OFF</p>
        <p>MacBook Pro 2019</p>
        <br>
        <img src="images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% OFF</p>
        <p>Samsung Galaxy S10</p>
        <br>
        <img src="images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% OFF</p>
        <p>SmartTv Samsung 43"</p>
        
    </ul>
   </main>
   <footer>
        <b>Pagá con tarjeta o en efectivo</b>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <b>Envío gratis desde $2.500</b>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <b>Seguridad de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        <br>
        <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
   </footer> 
</body>
</html>